@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

#hero {
    background: linear-gradient(0deg, rgb(9, 9, 9) 2.884%, rgba(16, 16, 16, 0) 101.034%), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 735px;
    width: 1520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 818px;
}

#hero .hero-content .subtitle {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 12px;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 51px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 19px;
}

#hero .hero-content .description {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25px;
}

.btn {
    background: rgb(82, 195, 3);
    padding: 16px 25px 16px 25px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-container {
    text-align: center;
}

#card-box {
    width: 1320px;
    margin: 100px auto;
}

#card-box .container .subtitle {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

#card-box .container .title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;
}

.card-container {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    font-family: Work Sans;
}

.card {
    max-width: 339px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .img-box {
    width: 339px;
}

.card .img-box img {
    width: 339px;
}

.card .shop {
    border-radius: 6px;
    background: rgba(82, 195, 3, 0.15);
    padding: 11px 25px 11px 25px;
}

.pc {
    text-align: center;
}

.btn-section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    width: 1520px;
    height: 436px;
    display: flex;
}

.about-container>img {
    width: 760px;
}

.infoo {
    width: 760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ab-title {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0%;
    text-align: center;

}

.ab-sub {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.6;
}

.ab-h3 {
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.footer{
    margin-top: 20px;
    width: 1520px;
    height: 536px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(255, 255, 255, 0.9) 2.884%, rgba(255, 255, 255, 0.9) 101.034%), url("../assets/social-bg.png");
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}